<form class="well" (submit)="addTask($event)">
    <div class = "form-group">
        <input type="text" class="form-control" [(ngModel)]="title" name="title" placeholder="Add Tasks" >
    </div>
</form>
<div class="row" *ngFor="let task of tasks">
<div class="col-md-1">  
    <input type="checkbox" [checked]= "task.isDone" (click)="updateTask(task._id)" >
</div>
<div class="col-md-7">
    {{task.title}}
</div>
<div class="col-md-4">
    <button value="delete" (click)="deleteTask(task._id) "class="btn btn-danger">Delete</button>
</div>
<br>
<br>
</div>